<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div id="categories">
    <div class="container">
      <div class="row">
        <div>
          <h1></h1>
          <template>
            <div>
              <b-modal id="bv-modal-example" hide-footer>
                <template v-slot:modal-title>
                  <code v-if="editmode">Edit Category</code>
                  <code v-if="!editmode">Add Category</code>
                </template>
                <div class="d-block text-center">
                   <form1/>>
                </div>
              </b-modal>
            </div>
          </template>
        </div>
          <div >
    <template>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <el-row>
                    <el-col :span="12">
                        <el-button @click="OpenAddModal" style="margin-bottom:20px; color:brown;">Add Category</el-button>

                    </el-col>

                    <el-col :span="6">
                        <el-input placeholder="Search By Title" v-model="filters[0].value"></el-input>
                    </el-col>
                </el-row>

                <data-tables
                        :data="categories" :table-props="tableProps" :pagination-props="{pageSizes: [10]}"
                        :action-col="actionCol"
                        :filters="filters"
                        @selection-change="handleSelectionChange"
                        stripe
                        style="width: 80rem; max-width: 80rem; height: 80vh;"
                >
                    <el-table-column type="selection" width="55"></el-table-column>

                    <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                    </el-table-column>
                </data-tables>

            </div>
        </div>

          </template>
        </div>
        </div>
        
      </div>
    </div>
</template>


<script>
import form1 from './form'
import EventBus from "../../event-bus";

export default {
  components: {
    form1
  },

  name: "coffees",
  data() {
    return {
      editmode: false,
      msg: "Coffee List",
      // coffees : [],
      search: "",
      titles: [
        {label:"id",prop:"id"},
        {label:"title",prop:"title"},
        ],
          tableProps: {
        border: true,
        stripe: true,
        defaultSort: {
          prop: 'id',
          order: 'ascending'
        }
      },

      filters: [
        {
          prop: "title",
          value: ""
        },
      ],
      actionCol: {
        props: {
          label: "Actions"
        },
        buttons: [
          {
            props: {
              type: "primary"
            },
            handler: row => {  
            this.OpenEditModal(row);
            },
            label: "Edit"
          },
          {
            props: {
              type: "danger"
            },
            handler: row => {
              this.$store.dispatch("deleteCategory",row.id)
              .then(() => {
                this.$message("delete success");
                EventBus.$emit("afterCreated");
              });
             
            },
            label: "Delete"
          }
        ]
      },
      selectedRow: []
    };
  },

  methods: {
    
    handleSelectionChange(val) {
      this.selectedRow = val;
    },
    
    //Copied Methdo Snippet
    OpenEditModal(category) {
      this.editmode = true;
      this.$store.dispatch("editConstructor", category);
      this.$bvModal.show("bv-modal-example");
    },

    OpenAddModal() {
      this.editmode = false;
      this.$store.dispatch("editConstructor", null);
      this.$bvModal.show("bv-modal-example");
    }
  },

  created:function() {
      EventBus.$on('afterCreated',() => {
      this.$store.dispatch("loadCategories")
      this.$bvModal.hide("bv-modal-example");
      });
    },

  computed: {
    categories() {
      return this.$store.getters.getLoadedCategories;
    },
    // filteredCoffees: function() {
    //   return this.coffees.filter(coffee => {
    //     return coffee.name.match(this.search);
    //   });
    // }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>


