<template>
    <!-- CategoriesForm -->
  <div class="flex-container">
    <b-form @reset="onReset" @submit="onSubmit" v-if="show">
      <b-form-group class="label-class" id="input-group-1" label="Title" label-for="input-1">
        <b-form-input v-model="form.title" type="text" required placeholder="Enter Title"></b-form-input>
      </b-form-group>

      <div class="flex">
        <b-row>
          <b-col lg="4" class="pb-2">
            <b-button size="sm" variant="outline-primary" type="submit">Submit</b-button>
          </b-col>
          <b-col lg="4" class="pb-2">
            <b-button size="sm" variant="danger" type="reset">Reset</b-button>
          </b-col>
        </b-row>
      </div>
    </b-form>
  </div>
</template>

<script>
import EventBus from "../../event-bus";

export default {
  data() {
    return {
      form: {
        title: "",
      },
      editMode: false,
      show: true
    };
  },

  computed: {
    categories() {
      return this.$store.getters.getLoadedCategories;
    },

    editValues() {
      return this.$store.getters.getEditConstructor;
    }
  },

  created() {
    if (this.editValues != null) {
      this.editMode = true;
      this.form = this.editValues;
    } else {
      this.editMode = false;
    }
  },

  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      if (this.editMode) {
        this.$store.dispatch("updateCategory", this.form).then(() => {
          EventBus.$emit("afterCreated");
          this.$message("Edited success");
        });
      } else {
        this.$store.dispatch("postCategory", this.form).then(() => {
          EventBus.$emit("afterCreated");
          this.$message("Added  success");
        });
      }
    },
    onReset(evt) {
      evt.preventDefault();

      this.form = {};
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>

<style scoped lang="scss">
.flex-container {
  width: 100%;
  box-sizing: border-box;
}
code {
  font-size: 97.5%;
  color: brown !important;
  font-weight: bold;
  font-family: cursive;
  word-wrap: break-word;
}

.flex {
  display: -ms-flexbox;
  text-align: right;
  margin-left: 60%;
}
.label-class {
  color: brown;
  font-size: 85%;
  font-family: cursive;
  font-style: normal;
  text-decoration: solid;
  text-align: left !important;
}
</style>
