$font-family: "Times New Roman", Times, serif;
$font-size: 1em;

$nav-items: brown;
$nav-bg: #ffffff;
$nav-hover-color: #444;
$button-color:rgb(148,0,211);
$body-color: #ffffff;
$nav-border: brown;
 
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';