<template>
    <div>
        <ul class="navbar-nav bg-gradient-danger sidebar sidebar-light  accordion" ref="accordionSidebar"
            id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <!--      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">-->
            <!--        <div class="sidebar-brand-icon rotate-n-15">-->
            <!--          <i class="fas fa-coffee"></i>-->
            <!--        </div>-->
            <!--        <div class="sidebar-brand-text mx-3">-->
            <!--          CoffeeShop-->
            <!--          <sup></sup>-->
            <!--        </div>-->
            <!--      </a>-->

            <!-- Divider -->
            <hr class="sidebar-divider my-0"/>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <router-link class="nav-link" to="/home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </router-link>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider"/>

            <!-- Heading -->
            <div class="sidebar-heading">Interface</div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a
                        class="nav-link collapsed"
                        href="#"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="true"
                        aria-controls="collapseTwo"
                >
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Coffee Components</span>
                </a>
                <div
                        id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordionSidebar"
                >
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Coffee Making:</h6>
                        <router-link class="collapse-item" to="/coffees">Coffees</router-link>
                        <router-link class="collapse-item" to="/categories">Coffee Categories</router-link>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <!--            <li class="nav-item">-->
            <!--                <a-->
            <!--                        class="nav-link collapsed"-->
            <!--                        href="#"-->
            <!--                        data-toggle="collapse"-->
            <!--                        data-target="#collapseUtilities"-->
            <!--                        aria-expanded="true"-->
            <!--                        aria-controls="collapseUtilities"-->
            <!--                >-->
            <!--                    <i class="fas fa-fw fa-wrench"></i>-->
            <!--                    <span>Utilities</span>-->
            <!--                </a>-->
            <!--                <div-->
            <!--                        id="collapseUtilities"-->
            <!--                        class="collapse"-->
            <!--                        aria-labelledby="headingUtilities"-->
            <!--                        data-parent="#accordionSidebar"-->
            <!--                >-->
            <!--                    <div class="bg-white py-2 collapse-inner rounded">-->
            <!--                        <h6 class="collapse-header">Custom Utilities:</h6>-->
            <!--                        <a class="collapse-item" href="utilities-color.html">Colors</a>-->
            <!--                        <a class="collapse-item" href="utilities-border.html">Borders</a>-->
            <!--                        <a class="collapse-item" href="utilities-animation.html">Animations</a>-->
            <!--                        <a class="collapse-item" href="utilities-other.html">Other</a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </li>-->

            <!-- Divider -->
            <!--            <hr class="sidebar-divider" />-->

            <!-- Heading -->
            <!--            <div class="sidebar-heading">Addons</div>-->

            <!-- Nav Item - Pages Collapse Menu -->
            <!--            <li class="nav-item">-->
            <!--                <a-->
            <!--                        class="nav-link collapsed"-->
            <!--                        href="#"-->
            <!--                        data-toggle="collapse"-->
            <!--                        data-target="#collapsePages"-->
            <!--                        aria-expanded="true"-->
            <!--                        aria-controls="collapsePages"-->
            <!--                >-->
            <!--                    <i class="fas fa-fw fa-folder"></i>-->
            <!--                    <span>Pages</span>-->
            <!--                </a>-->
            <!--                <div-->
            <!--                        id="collapsePages"-->
            <!--                        class="collapse"-->
            <!--                        aria-labelledby="headingPages"-->
            <!--                        data-parent="#accordionSidebar"-->
            <!--                >-->
            <!--                    <div class="bg-white py-2 collapse-inner rounded">-->
            <!--                        <h6 class="collapse-header">Login Screens:</h6>-->
            <!--                        <a class="collapse-item" href="login.html">Login</a>-->
            <!--                        <a class="collapse-item" href="register.html">Register</a>-->
            <!--                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>-->
            <!--                        <div class="collapse-divider"></div>-->
            <!--                        <h6 class="collapse-header">Other Pages:</h6>-->
            <!--                        <a class="collapse-item" href="404.html">404 Page</a>-->
            <!--                        <a class="collapse-item" href="blank.html">Blank Page</a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </li>-->

            <!-- Nav Item - Charts -->
            <!--            <li class="nav-item">-->
            <!--                <router-link class="nav-link" to="/coffees">-->
            <!--                    <i class="fas fa-coffee"></i>-->
            <!--                    <span>Coffees</span>-->
            <!--                </router-link>-->
            <!--            </li>-->

            <!--            &lt;!&ndash; Nav Item - Tables &ndash;&gt;-->
            <!--            <li class="nav-item">-->
            <!--                <router-link class="nav-link" to="/categories">-->
            <!--                    <i class="fas fa-fw fa-table"></i>-->
            <!--                    <span>Categories</span>-->
            <!--                </router-link>-->
            <!--            </li>-->

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block"/>

            <!-- Sidebar Toggler (Sidebar) -->
            <!--      <div class="text-center d-none d-md-inline">-->
            <!--        <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
            <!--      </div>-->
        </ul>
    </div>
</template>

<script>
    export default {
        methods: {
            scrollerFixer() {
                var sticky = this.$refs.accordionSidebar.offsetTop;
                if (window.pageYOffset >= sticky) {
                    this.$refs.accordionSidebar.classList.add("sticky")
                } else {
                    this.$refs.accordionSidebar.classList.remove("sticky");
                }
            }
        },
        mounted() {
            // When the user scrolls the page, execute myFunction
            window.onscroll = () => {
                this.scrollerFixer()
            };
        },
    };
</script>

<style lang="scss" scoped>

    // SidebarHeight

    // SidebarColour
    .bg-gradient-danger {
        background-image: linear-gradient(#ffffff, #ffffff, #ffffff);
        background-size: cover;
    }

    .sidebar {
        /*outline: solid 5px silver;*/
        border-radius: 10px;

        /* Prevent background color leak outs */
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        transition: border-radius 0.6s linear;
        margin: 0.5em;
        left: 0;
        height: 40vh;

    }

    @media (max-width: 700px) {
        .sidebar {
            border: solid black 2px ;

            /*outline: solid 5px silver;*/
            /*border-radius: 10px;*/

            /*!* Prevent background color leak outs *!*/
            /*-webkit-background-clip: padding-box;*/
            /*-moz-background-clip: padding;*/
            /*background-clip: padding-box;*/
            /*transition: border-radius 0.6s linear;*/
            /*margin: 0.5em;*/
            /*left: 0;*/
            /*height: 20vh;*/
            /*width: 100px;*/

        }
    }


    .sidebar:hover {
        outline-width: 10px;
        color: white
    }

    .sidebar-light .nav-item.active .nav-link {
        color: brown;
    }

    .sidebar-light .nav-item .nav-link {
        /* color: #858796; */
        color: brown;
    }

    .sidebar-light .nav-item .nav-link:active, .sidebar-light .nav-item .nav-link:focus, .sidebar-light .nav-item .nav-link:hover {
        color: brown;
    }

    .sidebar-light .nav-item .nav-link:active i, .sidebar-light .nav-item .nav-link:focus i, .sidebar-light .nav-item .nav-link:hover i {
        color: brown;
    }

    .sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
        padding: .5rem 1rem;
        margin: 0 .5rem;
        display: block;
        color: brown;
        text-decoration: none;
        border-radius: .35rem;
        white-space: nowrap;
    }

    /*.sticky {*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    width: 100%;*/
    /*    !*margin-bottom: 20vh;*!*/
    /*}*/
</style>
