<template>
  <div>
    <div class="loader">
      <b-spinner style="width: 3rem; height: 3rem;" label="Large Spinner" type="grow"></b-spinner>
    </div>
  </div>
</template>

<script>
export default {
 
};
</script>

<style lang="scss" scoped>
.loader {

  position: fixed;
  left: 50%;
  top: 35%;
  display: inline;
  z-index: 1000;
  height: 31px;
  width: 31px;

}
</style>