<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div id="coffees">

        <div>
            <h1></h1>
            <template>
                <div>
                    <b-modal id="bv-modal-example" hide-footer>
                        <template v-slot:modal-title>
                            <code v-if="editmode">Edit Coffee</code>
                            <code v-if="!editmode">Add Coffee</code>
                        </template>
                        <div class="d-block text-center">
                            <div class="flex-container">


                                <b-form @reset="onReset" @submit="onSubmit">
                                    <b-form-group class="label-class" id="input-group-1" label="Name"
                                                  label-for="input-1">
                                        <b-form-input v-model="form.name"
                                                      type="text"

                                                      required
                                                      placeholder="Enter Name"></b-form-input>
                                    </b-form-group>

                                    <b-form-group class="label-class" id="input-group-5" label="Price"
                                                  label-for="input-1">
                                        <b-form-input v-model="form.price"

                                                      type="number"

                                                      required
                                                      placeholder="Enter Price"></b-form-input>
                                    </b-form-group>

                                    <b-form-group class="label-class" id="input-group-3" label="Category"
                                                  label-for="input-3">

                                        <b-form-select

                                                v-model="form.category_id">
                                            <template v-for="category in categories">
                                                <b-form-select-option :key="category.id" :value="category.id">
                                                    {{category.title}}
                                                </b-form-select-option>
                                            </template>
                                        </b-form-select>
                                    </b-form-group>

                                    <b-form-group class="label-class" id="input-group-2" label="Description"
                                                  label-for="input-2">
                                        <b-form-textarea
                                                id="input-2"
                                                v-model="form.description"
                                                type="text"
                                                required
                                                placeholder="Enter Description"
                                        ></b-form-textarea>
                                    </b-form-group>

                                    <!--     Add Image-->
                                    <b-form-group class="label-class" id="input-group-2" label="Coffee Image"
                                                  label-for="input-2">
                                        <input type="file" @change="onFileSelected">


                                        <!--                                     Image End -->
                                        <div id="preview">
                                            <div class="card" style="width: 12rem; padding: 4px 4px ;">
                                                <img v-if="url" :src="url"/>
                                            </div>

                                        </div>
                                    </b-form-group>


                                    <div class="flex">
                                        <b-row>
                                            <b-col lg="4" class="pb-2">
                                                <b-button size="sm" variant="outline-primary" type="submit">Submit
                                                </b-button>
                                            </b-col>
                                            <b-col lg="4" class="pb-2">
                                                <b-button size="sm" variant="danger" type="reset">Reset</b-button>
                                            </b-col>
                                        </b-row>
                                    </div>
                                </b-form>


                            </div>

                        </div>
                    </b-modal>
                </div>
            </template>
        </div>
        <div>
            <template>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <el-row>
                            <el-col :span="18">
                                <el-button @click="OpenAddModal" style="color:brown;">Add Coffee</el-button>

                            </el-col>

                            <el-col :span="6">
                                <el-input placeholder="Search By Name" v-model="filters[0].value"></el-input>
                            </el-col>
                        </el-row>

                        <data-tables
                                :data="coffees" :pagination-props="{pageSizes: [10]}"
                                :action-col="actionCol"
                                :filters="filters"
                                @selection-change="handleSelectionChange"
                                stripe

                        >
                            <el-table-column type="selection"></el-table-column>

                            <el-table-column v-for="title in titles" :prop="title.prop"
                                             :label="title.label"
                                             :key="title.prop" sortable="custom">
                            </el-table-column>
                        </data-tables>

                    </div>


                </div>


            </template>
        </div>
    </div>


</template>


<script>

    export default {


        name: "coffees",
        data() {
            return {
                url: null,
                selectedFile: null,
                editmode: false,
                msg: "Coffee List",
                // coffees : [],
                search: "",
                titles: [
                    {label: "id", prop: "id"},
                    {label: "name", prop: "name"},
                    {label: "category", prop: "category"},
                    {label: "description", prop: "description"},
                    {label: "price", prop: "price"}
                ],
                filters: [
                    {
                        prop: "name",
                        value: ""
                    },
                ],
                actionCol: {
                    props: {
                        label: "Actions"
                    },
                    buttons: [
                        {
                            props: {
                                type: "primary"
                            },
                            handler: row => {
                                this.OpenEditModal(row);
                            },
                            label: "Edit"
                        },
                        {
                            props: {
                                type: "danger"
                            },
                            handler: row => {
                                this.$store.dispatch("deleteCoffee", row.id)
                                    .then(() => {
                                        this.$message("delete success");
                                        this.$root.$emit("afterCreated");
                                    });

                            },
                            label: "Delete"
                        }
                    ]
                },
                selectedRow: [],
                form: {
                    id: null,
                    name: null,
                    category_id: null,
                    description: null,
                    price: null,
                    image: null
                },
                editMode: false,
            };
        },


        methods: {

            // Image Upload
            onFileSelected(event) {
                this.selectedFile = event.target.files[0];
                this.url = URL.createObjectURL(this.selectedFile);

                console.log("preView Url=>", this.url)

            },


            handleSelectionChange(val) {
                this.selectedRow = val;
            },

            //Copied Methdo Snippet
            OpenEditModal(coffee) {
                this.editMode = true;
                this.form = coffee;

                // this.$store.dispatch("editConstructor", coffee);
                this.$bvModal.show("bv-modal-example");
            },

            OpenAddModal() {
                this.editMode = false;
                this.form = {
                    id: null,
                    name: null,
                    category_id: null,
                    description: null,
                    price: null,
                    image: null
                };

                this.$bvModal.show("bv-modal-example");
            },
            onSubmit(evt) {
                evt.preventDefault();
                if (this.editMode) {
                    let updatedCoffee = {
                        id: this.form.id,
                        name: this.form.name,
                        category_id: this.form.category_id,
                        description: this.form.description,
                        price: this.form.price
                    };

                    this.$store.dispatch("updateCoffee", updatedCoffee).then(() => {
                        this.$root.$emit("afterCreated");
                        this.$message("Edited success");

                    });
                } else {

                    const fd = new FormData();
                    fd.append('myImage', this.selectedFile)
                    fd.append('name', this.form.name)
                    fd.append('category_id', this.form.category_id)
                    fd.append('description', this.form.description)
                    fd.append('price', this.form.price)


                    // let newCoffee = {
                    //     name: this.form.name,
                    //     category_id: this.form.category_id,
                    //     description: this.form.description,
                    //     price: this.form.price
                    // };
                    this.$store.dispatch("postCoffee", fd).then(() => {
                        this.$root.$emit("afterCreated");
                        this.$message("Added  success");
                    });

                }
            },
            onReset(evt) {
                evt.preventDefault();

                this.form = {};
                this.show = false;
                this.$nextTick(() => {
                    this.show = true;
                });
                this.url = null;
            }
        },

        created: function () {
            this.$root.$on('afterCreated', () => {
                this.$store.dispatch("loadCoffees")
                this.$bvModal.hide("bv-modal-example");
            });
        },

        computed: {
            coffees() {
                return this.$store.getters.getLoadedCoffees;
            },
            categories() {
                return this.$store.getters.getLoadedCategories;
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .flex-container {
        width: 100%;
        box-sizing: border-box;
    }

    code {
        font-size: 97.5%;
        color: brown !important;
        font-weight: bold;
        font-family: cursive;
        word-wrap: break-word;
    }

    .flex {
        display: -ms-flexbox;
        text-align: right;
        margin-left: 60%;
    }

    .label-class {
        color: brown;
        font-size: 85%;
        font-family: cursive;
        font-style: normal;
        text-decoration: solid;
        text-align: left !important;
    }

    #preview {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #preview img {
        max-width: 100%;
        max-height: 500px;
    }


</style>


