<template>
    <div>
        <h1>{{coffeeObject.description}}</h1>
        <h1>{{coffeeObject.name}}</h1>

    </div>
</template>
<script>
    export default {
        data() {
            return {
                coffeeObject: {}
            };
        },
        methods: {
         
            singleCoffee(cid, coffee) {
                if (coffee.length < 1) {
                    this.$router.push('/coffees')
                }

                if (Array.isArray(coffee)) {
                    var self = this;
                    coffee.filter(function (item) {
                        return parseInt(item.id) === parseInt(cid);
                    }).map(function (obj) {
                        self.coffeeObject = obj
                    });
                }

                // ||

            }
        },
        created() {
            this.singleCoffee(this.$route.params.id, this.coffees);

        },
        computed: {
            coffees() {
                return this.$store.getters.getLoadedCoffees;
            }
        }
    };
</script>
<style scoped lang='scss'>
</style>
