<template>
    <div id="app" class="base-grid">
        <loader v-if="loader"/>
        <div class="sideNav">
            <CustomSideBar/>
        </div>
        <div class="navBarCustom">
            <NavBar/>
        </div>
        <div class="section-div">
            <div class="container">
                <transition
                        name="fade"
                        mode="out-in"
                        @beforeLeave="beforeLeave"
                        @enter="enter"
                        @afterEnter="afterEnter"
                >
                    <router-view/>
                </transition>
            </div>
        </div>
        <div class="rightBar">

        </div>
        <div class="footer-section">
            <footer class="sticky-footer footer">
                <div class="my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © CoffeeShop 2019</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</template>

<script>
    import loader from "./components/loader";
    import CustomSideBar from "./views/SideBar";
    import NavBar from './views/NavBar'

    export default {
        methods: {
            beforeLeave(element) {
                this.prevHeight = getComputedStyle(element).height;
            },
            enter(element) {
                const {height} = getComputedStyle(element);

                element.style.height = this.prevHeight;

                setTimeout(() => {
                    element.style.height = height;
                });
            },
            afterEnter(element) {
                element.style.height = "auto";
            },

        },

        mounted() {
            this.$store.dispatch("loadCoffees");
            this.$store.dispatch("loadCategories");
            // console.log("fired");
        },
        components: {
            NavBar,

            loader,
            CustomSideBar
        },
        computed: {
            loader() {
                return this.$store.getters.getLoader;
            }
        },
        watch:{
            $route (to, from){
                window.scrollTo(0,0);

            }
        }
    };
</script>

<style lang="scss">
    @import "./styles/variables.scss";

    .base-grid {
        display: grid;
        grid-column-gap: 5px;
    }
    #app {
        top: 0;
    }




    .navBarCustom {

        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .sideNav {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 11;

    }

    .section-div {
        /*width: 80rem;*/
        height: 70vh ;
        grid-column-start:2;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 10;

        // border: solid green;
    }
    .rightBar{
        grid-column-start:7;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 11;

    }

    .footer-section {
        grid-row-start: 12;
        grid-row-end: 12;
        grid-column-start: 1;
        grid-column-end: 12;


    }

    .footer {
        display: none;
        position: relative;
        background-color: #f7f7f7;
        color: brown;
        width: 100%;
        bottom: 0;
    }




    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.3s;
        transition-property: opacity;
        transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }

    /*@media (min-width: @screen-sm-min) { ... }*/
    @media (max-width: 700px) {

        #app {
            width: 700px;
        }
        .base-grid {

            display: grid;
            grid-column-gap: 1px;
        }
        .navBarCustom {
            width: 700px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;


            // border: solid silver;
        }


        .sideNav {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 11;
        }
        .section-div {
            height: 70vh ;
            grid-column-start:2;
            grid-column-end: 6;
            grid-row-start: 2;
            grid-row-end: 10;
        }

        .footer-section {
            grid-row-start: 12;
            grid-row-end: 12;
            grid-column-start: 1;
            grid-column-end: 12;

        }
    }
</style>
